*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}


/* header */
header{
    background-color: rgba(229, 84, 115, 0.10);;
}
.banner{
    display: flex;
    justify-content: space-between;
}

.banner-content{
    text-align: left;
    width: 50%;
    /* padding: 197px auto 147px 240px; */
    padding-left: 240px;
    padding-top: 197px;
}

.banner-content h1{
    font-size: 80px;
    font-weight: 800;
    color: #272727;
    width: 91%;
}

.banner-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
    width: 74%;
    color: #27272799;
}

.primary-btn{
    color: white;
    background-color: #E55473;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
}

/*  */

.banner-img{
    width: 50%;
}

.banner-img img{
    height: 800px;
    padding-top: 50px;
    padding-right: 240px;
}

/* main section css started. */

/* top-redius-floer */

.top-rf{}

.top-rf{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 24px;
    justify-content: center;
}

.flower-box{
    width: 464px;
    height: 538px;
    position: relative;
    border-radius: 49% 49% 0 0;
}

.flower-1 {
   
    background-color: rgba(167, 33, 98, 0.15);
    
}
.flower-1 img{
    width: 310px;
    position: absolute;
    bottom: 0;
    left: 14%;
}
.flower-2 {
    
    background-color: rgba(5, 151, 160, 0.15);
}
.flower-2 img{
    width: 370px;
    position: absolute;
    bottom: 0;
    left: 14%;
}
.flower-3 {
    
    background-color: rgba(71, 125, 17, 0.15);
}
.flower-3 img{
    width: 314px;
    position: absolute;
    bottom: 0;
    left: 14%;
}

.title h3{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    color: #272727;
    margin-top: 32px;
}

/* service section */

.se
